
button {
  cursor: pointer;
}

.form-section form .city-name {
  color: red;
}

.updatable-section {
  margin: 40px 0 20px;
}

.container-table {
  padding-bottom: 40px;
}

.container-table table {
  border-spacing: 0;
}

.container-table table thead tr th {
  font-weight: bold;
  padding: 1px 1px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: lightgray;
}

.container-table table tbody tr td {
  text-align: center;
  padding: 5px 20px;
}

.container-graph #chart-container {
  height: 300px;
}


